.dark{
    background-color: blueviolet;
    color: aliceblue;
}

.container{
    width: 15em;
    margin: left;
    float: left;
}

.pic img{
    width: 100%;
}

.title{
    font-weight: bold;
    margin-bottom: 1em;
    color: whitesmoke;
}